div.uploadform
    form(action="/upload", method="post", enctype="multipart/form-data")
        span Upload File:
        br
        input(type="file", name="uploaded_file")
        input(type="submit", name="submit_file", value="Upload")
        if show_error
            div.error= error
    div.info
        p Accepts any file. Some more info, etc.
if featured_images.last.length > 0 && featured_images.most.length > 0
    div.featured-images.left
        h2 Recent Images
        div
            each image in featured_images.last
                a(href="/info/#{image.id}/#{image.name}")
                    img(src="/thumb/#{image.id}/#{image.name}")
    div.featured-images.right
        h2 Viewed Images
        div
            each image in featured_images.most
                a(href="/info/#{image.id}/#{image.name}")
                    img(src="/thumb/#{image.id}/#{image.name}")
div.clearall