dl
    dt Info URL: 
    dd
        a(href="/info/#{file_id}/#{file_name}") #{host}/info/#{file_id}/#{file_name}
    dt Short info URL: 
    dd
        a(href="/info/#{file_id}") #{host}/info/#{file_id}
    dt View URL: 
    dd
        a(href="/view/#{file_id}/#{file_name}") #{host}/view/#{file_id}/#{file_name}
    dt Short view URL: 
    dd
        a(href="/view/#{file_id}") #{host}/view/#{file_id}
if image == "true"
    dt Image:
        dd
            img.uploaded_image(src="/view/#{file_id}/#{file_name}")