dl.file-info
    if image == "true"
        dt.img Image:
        dd.img
            a(href="/view/#{file.id}/#{file.name}")
                img.uploaded_image(src="/thumb/#{file.id}/#{file.name}?#{(new Date()).getTime()}")
    dt Filename:
    dd= file.name
    dt Date uploaded:
    dd= file.date
    dt Uploaded by:
    dd
        if typeof file.author == 'undefined' || file.author == ''
            if typeof file.author == 'undefined' || file.author == ''
                a(href="/username/anonymous") anonymous
            else
                a(href="/username/#{file.author}") #{file.author}
        else
            a(href="/username/#{file.author}") #{file.author}
    dt MD5 sum:
    dd= file.md5
    dt Size:
    dd #{file.size} (#{file.length} #{bytes_suffix})
    dt Content type:
    dd= file.type
    dt Views
    dd= file.views
    dt Comments
    dd= file.comment_count
    dt Info URL:
    dd
        a(href="/info/#{file.id}/#{file.name}") #{host}/info/#{file.id}/#{file.name}
    dt View URL:
    dd
        a(href="/view/#{file.id}/#{file.name}") #{host}/view/#{file.id}/#{file.name}
    if paste == "true"
        dt Paste URL:
        dd
            a(href="/paste/#{file.id}/#{file.name}") #{host}/paste/#{file.id}/#{file.name}
    if image == "true"
        dt Thumbnail URL: 
        dd
            a(href="/thumb/#{file.id}/#{file.name}") #{host}/thumb/#{file.id}/#{file.name}
div.comments
    h2 Comments:
    form(action="/comment/#{file.id}", method="post", enctype="multipart/form-data")
        input(type="text", name="comment_author", value="anonymous")
        input(type="text", name="comment_title", value="#{file.reply_title}")
        textarea(type="text", name="comment_text", onfocus="this.style.height='5em'", onblur="this.style.height='auto'")
        input(type="submit", name="comment_submit", value="Submit")
    div(style="clear: both;")
    div(id="replies-#{file.id}", style="display: none;")
    script getAndShow('#{file.id}', #{file.comment_ids}, null, -1);