dl
    dt Name:
    dd= file.name
    dt Date uploaded:
    dd= file.date
    dt MD5 sum:
    dd= file.md5
    dt Size in bytes:
    dd= file.length
    dt Content type:
    dd= file.type
    dt Info URL:
    dd
        a(href="/info/#{file.id}/#{file.name}") #{host}/info/#{file.id}/#{file.name}
    dt View URL:
    dd
        a(href="/view/#{file.id}/#{file.name}") #{host}/view/#{file.id}/#{file.name}
    if paste == "true"
        dt Paste URL:
        dd
            a(href="/paste/#{file.id}/#{file.name}") #{host}/paste/#{file.id}/#{file.name}
if image == "true"
    dt Image:
        dd
            img.uploaded_image(src="/view/#{file.id}/#{file.name}")