dl.file-info
    if image == "true"
        dt.img Image:
        dd.img
            img.uploaded_image(src="/thumb/#{file.id}/#{file.name}")
    dt Filename:
    dd= file.name
    dt Date uploaded:
    dd= file.date
    dt MD5 sum:
    dd= file.md5
    dt Size:
    dd #{file.size} (#{file.length} #{bytes_suffix})
    dt Content type:
    dd= file.type
    dt Views
    dd= file.views
    dt Info URL:
    dd
        a(href="/info/#{file.id}/#{file.name}") #{host}/info/#{file.id}/#{file.name}
    dt View URL:
    dd
        a(href="/view/#{file.id}/#{file.name}") #{host}/view/#{file.id}/#{file.name}
    if paste == "true"
        dt Paste URL:
        dd
            a(href="/paste/#{file.id}/#{file.name}") #{host}/paste/#{file.id}/#{file.name}
    if image == "true"
        dt Thumbnail URL: 
        dd
            a(href="/thumb/#{file.id}/#{file.name}") #{host}/thumb/#{file.id}/#{file.name}