p List of files:

each item in file_list
  a(href="/info/#{item.file_id}/#{item.file_name}") info
  span &nbsp;for&nbsp;
  a(href="/view/#{item.file_id}/#{item.file_name}") #{item.file_name}
  span &nbsp;Uploaded on: #{item.file_date}
  br
