div.paste-title
    span Filename: 
        span.paste-filename= file_name
    span.paste-viewinfo
        a(onclick="(function(objId){(function(){if(document.selection){document.selection.empty();}else if(window.getSelection){window.getSelection().removeAllRanges();}})();if(document.selection){var range = document.body.createTextRange();range.moveToElementText(document.getElementById(objId));range.select();}else if (window.getSelection) {var range = document.createRange();range.selectNode(document.getElementById(objId));window.getSelection().addRange(range);}})('lines');",
        style="cursor: pointer;") select all
        &nbsp;&mdash;
        a(href="/view/#{file_id}/#{file_name}") view
        &nbsp;&mdash;
        a(href="/info/#{file_id}/#{file_name}") info

div.paste
    div.line-numbers
        each line, i in lines
            div.line-number
                span #{i+1}
    div#lines.lines
        span
            #{paste_data}
    div.clearall