div.paste-title
    span Filename: 
        span.paste-filename= file_name
    span.paste-viewinfo
        a(onclick="(function(objId){(function(){if(document.selection){document.selection.empty();}else if(window.getSelection){window.getSelection().removeAllRanges();}})();if(document.selection){var range = document.body.createTextRange();range.moveToElementText(document.getElementById(objId));range.select();}else if (window.getSelection) {var range = document.createRange();range.selectNode(document.getElementById(objId));window.getSelection().addRange(range);}})('lines');",
        style="cursor: pointer;") select all
        |  - 
        a(href="/view/#{file_id}/#{file_name}") view
        |  - 
        a(href="/info/#{file_id}/#{file_name}") info
        |  - 
        a(href="/report/#{file_id}") report
div.paste
    div.line-numbers
        each line, i in lines
            div.line-number
                span #{i+1}
    div#lines.lines
        span
            #{paste_data}
    div.clearall
div.comments
    h2 Comments:
    form(action="/comment/#{file.id}?paste=true", method="post", enctype="multipart/form-data")
        if typeof current_user.username == 'undefined'
            span Posting as: anonymous
        else
            span Posting as: #{current_user.username}
        br
        input(type="hidden", name="comment_title", value="#{file.reply_title}")
        textarea(type="text", name="comment_text", onfocus="this.style.height='5em'", onblur="this.style.height='auto'").
        input(type="submit", name="comment_submit", value="Submit")
    div(style="clear: both;")
    div(id="replies-#{file.id}", style="display: none;")
    script getAndShow('#{file.id}', #{file.comment_ids}, null, -1);
