div.paste-title
    span Filename: 
        span.paste-filename= file_name
    span.paste-viewinfo
        a(style="cursor: pointer;", onclick="selectAll('lines');") select all
        &nbsp;&mdash;
        a(href="/view/#{file_id}/#{file_name}") view
        &nbsp;&mdash;
        a(href="/info/#{file_id}/#{file_name}") info

div.paste
    div.line-numbers
        each line, i in lines
            div.line-number
                span #{i+1}
    div#lines.lines
        span
            #{paste_data}
    div.clearall