!!!
html
    head
        title= site.title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type="text/javascript", src="/javascripts/comments.js")
        script(type="text/javascript", src="/javascripts/user.js")
    body
        div.heading
            div.branding
                h1.title
                    a(href="/") #{site.title}
                div &mdash; #{site.tagline()}
            div.main-menu
                div.menu
                    a.first(href="/upload") Upload File
                    a(href="/paste") Paste Text
                    a(href="/link") Shorten URL
                    a(href="/random") Random File
                    span(style="font-size: 0.8em; float: right;")
                        if typeof current_user.username == 'undefined'
                            span.like_a anonymous
                            a#google_sign_in(href="/auth/google") Sign In
                        else
                            a(href="/user") #{current_user.displayName}
                            a(href="/logout") Sign Out
            div.tagline
                h2= tagline
                div.list
                    a(href="/list/files") List files
                    a(href="/list/links") List links
                    a(href="/search") Search
                    form(action="/search", method="get", enctype="multipart/form-data")
                        if typeof query != 'undefined'
                            input(type="text", name="q", value="#{query}")
                        else
                            input(type="text", name="q", value="")
        div.main
            != body
        div.footer
            span
                a(href="https://github.com/master5o1/Dumploader/") git
                |  | 
                a(href="/page/privacy") privacy
                |  | 
                a(href="/page/about") about
                span.copyright
                    //- 
                        | dumploader &copy; 2012 
                        a(href="http://master5o1.com/") Jason Schwarzenberger
