dl.link-info
    dt Short Link:
    dd
        a(href="/link/#{link.link_id}") #{host}/link/#{link.link_id}
    dt Target:
    dd
        a(href="/link/#{link.link_id}") #{link.link_url}
    dt Hits:
    dd= link.hits
    dt Created:
    dd= link.created