table.list
    thead
        tr
            td.name Target
            td.info Info
            td.date Date
    tbody
        each item, i in link_list
            if i%2 == 1
                tr.odd
                    td.name
                        a(href="/link/#{item.link_id}") #{item.link_url}
                    td.info
                        a(href="/link/#{item.link_id}/info") info
                    td.date= item.created
            else
                tr
                    td.name
                        a(href="/link/#{item.link_id}") #{item.link_url}
                    td.info
                        a(href="/link/#{item.link_id}/info") info
                    td.date= item.created