table.list
    thead
        tr
            td.name Target
            td.info Hits
            td.info Info
            td.date Date
    tbody
        each item, i in link_list
            if i%2 == 1
                tr.odd
                    td.name
                        a(href="/link/#{item.link_id}") #{item.link_url}
                    td.info= item.hits
                    td.info
                        a(href="/link/#{item.link_id}/info") info
                    td.date= item.created
            else
                tr
                    td.name
                        a(href="/link/#{item.link_id}") #{item.link_url}
                    td.info= item.hits
                    td.info
                        a(href="/link/#{item.link_id}/info") info
                    td.date= item.created         
    tfoot
        tr.skip
            td(style="text-align: left;")
                if next_skip-limit-limit < 0
                    | Previous Page
                else
                    a(href="/list/links/#{next_skip-limit-limit}") Previous Page
            td &nbsp;
            td &nbsp;
            td(style="text-align: right;")
                if show_next
                    a(href="/list/links/#{next_skip}") Next Page
                else
                    | Next Page