div.user_profile
    dl
        dt Username:
        dd
            if displayed_user.id == current_user.id
                input.change_user_detail#change_username(type="text", value="#{displayed_user.username}", onfocus="hide('change_username_error');", onblur="checkUserName('#{displayed_user.username}', this.value)")
                span#change_username_error(style="color: red; vertical-align: middle; font-size: 1.5em; display: inline-block; width: 1.0em; visibility: hidden;") &times;
                span(style="color: #666; font-size: 0.85em;") Maximum 100 of these characters: A-Z a-z 0-9 and _
            else
                span #{displayed_user.username}
        dt Display Name:
        dd
            if displayed_user.id == current_user.id
                input.change_user_detail#change_displayName(type="text", value="#{displayed_user.displayName}", onfocus="hide('change_displayName_error');", onblur="changeDisplayName('#{displayed_user.username}', this.value)")
                span#change_displayName_error(style="color: red; font-size: 1.5em; vertical-align: middle; display: inline-block; width: 1.0em; visibility: hidden;") &times;
            else
                span #{displayed_user.displayName}
        dt.textareachange_user Description:
        dd.textareachange_user
            if displayed_user.id == current_user.id
                textarea.change_user_detail#change_description(onkeypress="checksize(this)", onfocus="hide('change_description_error'); checksize(this);", onblur="changeDescription('#{displayed_user.username}', this.value); checksize(this);") #{displayed_user.description}
                span(style="vertical-align: top; display: inline-block; width: 4.0em;")
                    span#change_description_error(style="color: red; font-size: 2.0em; width: inherit; text-align: center; vertical-align: top; display: inline-block; visibility: hidden;") &times;
                    //- span#change_description_counter(style="display: inline-block; margin-top: 2.0em; color: #888; font-size: 1.5em; width: inherit; text-align: center;") 1000
            else
                p.change_user_detail(style="margin: 0;")
                    if (typeof displayed_user.description != 'undefined')
                        each line in displayed_user.description.split('\n')
                            #{line}
                            br
    if displayed_user.id == current_user.id
        div(style="text-align: center; margin: 0 0 1em; font-size: 0.85em; color: #666;") Click outside of the text areas to save your username, display name or description.
        fieldset(style="background-color: #e9e9e9; margin: 0 5em 2em; border: solid 1px #aaa; border-top: double 3px #aaa;")
            legend(style="color: #666; font-size: 0.8em;") From Google (private)
            dl(style="margin: 0;")
                dt Name:
                dd #{displayed_user.name.givenName} #{displayed_user.name.middleName} #{displayed_user.name.familyName}
                if displayed_user.emails.length > 1
                    dt(style="vertical-align: top;") Emails:
                else
                    dt Email:
                dd
                    each email, i in displayed_user.emails
                        if (i > 0)
                            br
                        span #{email.value}
                dt Identifier:
                dd(style="font-size: 0.9em;")= displayed_user.id
    div.clearall
if comments_count > 0
    div.featured-images.left(style="width: 80%; text-align: left; min-height: 350px; height: auto; max-hegith: auto;")
        h2 Comments:
        div(id="replies-comments", style="display: none;")
        script getAndShow('comments', #{comments}, null, -1);
div.featured-images.right(style="width: 154px; min-height: 350px;  height: auto; max-hegith: auto;")
    h2 Images:
    each image in images
        a(href="/info/#{image._id.bytes.toString('base64').replace('/','-')}/#{image.filename}", title="#{image.filename}")
            img(style="width: 150px; border: none; margin: 2px 0; padding: 0;", src="/thumb/#{image._id.bytes.toString('base64').replace('/','-')}/#{image.filename}")
div.clearall